@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@400;600;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1E1C21;
    height: 80px;
}
/* 
.container-grid{
    width: 1200px;
    margin: 0 auto;
} */

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.search-box{
    border-radius: 20px;
    display: flex;

}

.search-box input{
    display: block;
    margin-top: 10px;
    width: 100%;
    background-color: #252A34;
    color: white;
    padding-left: 10px;
    border: none;
    height: 30px;
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}


.search-btn{
    color: blue;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu{
    width: 500px;
    display: flex;
    justify-content: space-between;
}


.menu a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}



.icone-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

#barras{
    display: none;
}

.icone-menu{
    height: 40px;
}

.banner{
    height: 300px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.posicionamento-banner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-banner{
    height: 150px;
    align-items: center;
    width: 495px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.conteudo-banner h1{
    font-family:"Titillium web";
    font-weight: bold;
    font-size: 80px;
}

.conteudo-banner{
    font-family:"Roboto";
    font-size: 25px;

}

.consoles{
    height: 40px;
    background-color: #1E1C21;
}

.consoles a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.posicionamento-consoles{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.destaques a{
    justify-content: center;
    color: #1E1C21;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.conteudo-destaques{
    justify-content: space-between;
    color: #1E1C21;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    

.posicionamento-destaques{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.parceiros{
    background-color: #1E1C21;
    height: 100%;
    width: 100%;
}

.posicionamento-parceiros{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

body{
    background-color: #1E1C21;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}

.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input{
    margin-top: 10px;
    width: 100%;
    background-color: #252A34;
    color: aliceblue;
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 10px;
}

.login img{
    width: 100px;
    height: auto;
}

.input::placeholder{
    color: aliceblue;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: #5568fe;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    color: aliceblue;
}
 
a{
    color: #5568FE;
    text-decoration: none;
    margin-left: 10px;
}

@media screen and (max-width: 1100px) {
    .cabecalho{
        position: relative;
    }

    .menu{
        display: none;

        position: absolute;
        top: 80px;
        right: 0px;

        height: 400px;
        
        flex-direction: column;
        background-color: #1E1C21;
        align-items: center;
    }

    .menu-ativo {
        display: flex;
    }

    #barras{
        display: inline-block;
    }
}



@media screen and (max-width:768px){
    header{
        background-color: darkblue;
    }

    .logo{
        width: 100px;
    }
}
